@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: center;
  // margin-top: 50px;
  float: left;
  position: relative;
  left: -49px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 10px;
}

ul.social-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
}

ul.social-buttons li a.brandico-twitter-bird {
  background-color: #4099FF;
}

ul.social-buttons li a.brandico-facebook {
  background-color: #3B5998;
}

ul.social-buttons li a.brandico-instagram {
  background-color: #3f729b;
}

ul.social-buttons li a.brandico-vimeo {
  background-color: #4EBBFF;
}

ul.social-buttons li a.brandico-linkedin {
  background-color: #0e76a8;
}

/*Demo 1*/
ul#demo1 li a {
  transition: transform 0.2s linear;
}

ul#demo1 li:hover a {
  transform: translateY(-10px);
}

.media
 {
     /*box-shadow:0px 0px 4px -2px #000;*/
     margin: 20px 0;
     padding:30px;
     -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 4s; /* Firefox < 16 */
         -ms-animation: fadein 4s; /* Internet Explorer */
          -o-animation: fadein 4s; /* Opera < 12.1 */
             animation: fadein 4s;
 }
 .dp
 {
border: 10px solid #fff;
  transition: all 0.2s ease-in-out;
 }
 .thumb {
     margin-bottom: 30px;
 }

 footer {
     margin: 50px 0;
 }
 .page-header{
   text-align: center;
   margin: 20px 0;
   padding:30px;
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 4s; /* Firefox < 16 */
       -ms-animation: fadein 4s; /* Internet Explorer */
        -o-animation: fadein 4s; /* Opera < 12.1 */
           animation: fadein 4s;
 }
 .btn-circle {
   width: 30px;
   height: 30px;
   text-align: center;
   padding: 6px 0;
   font-size: 12px;
   line-height: 1.428571429;
   border-radius: 15px;
 }

 #itemPicture{
    background-image:url('');
    background-size:cover;
    background-position: center;
    height: 250px; width: 250px;
    border: 1px solid #bbb;
}
.profileContainer{
  background-color: white;
  width: 100%;
  height: 2000px;
}

#twitter{
      width: 89px;
}
#facebook{
  width: 89px;
}
#instagram{
  width: 89px;

}

.media-body{
  color: white;
}

#userHeader{
  font-family: 'Cookie', cursive;
}
.page-header{
  font-family: 'Cookie', cursive;
  color: white;

}
.pictureContainer{
  background-color: white
}

.emptyContainer{
      margin-bottom: 10%;
}
#shopContainer{
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}
#fileupload{
  color:black;
}
