.paperList{
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/images/paper.svg");
  width: 66%;
  margin-left: 13%;
  height: 633px;
}
.itemList{
  position: relative;
right: -23%;
bottom: -28%;
}
.shoppingList{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  /* margin-top: 46px; */
  font-size: 71px;
  position: relative;
  bottom: -8%;
  overflow: scroll;
}
.shoppingContainer{
  background-image: url("/images/paper.jpg");
  width: 50%;
  height: 2000px;
  margin-left: 20%;
}
.list-group{
  margin-top:65px;
  color: white;
  border: 2px solid white;
  text-align: center;
}
.itemContainer{
  width: 100%;
  text-align: center;
}
.something{
  // border: 2px solid white;
  display: inline-block;

      width: 32%;
  overflow: scroll;
}
#button{
  background-color: white;
  border-color: white;
}
#glyphicon{
  color: black;
}
