.LoginContainer {
  background-image: url("../images/green-crop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 670px; }

p {
  font-family: 'Lato', sans-serif;
  color: white; }

.text-center {
  font-family: 'Lato', sans-serif;
  color: white; }

.forgetPassword {
  font-family: 'Lato', sans-serif;
  color: white; }

#loginBox {
  position: relative;
  bottom: -2%; }

.logo {
  width: 300px;
  margin-left: 90px; }

.blah {
  color: red; }

#artContainer {
  border: 2px solid black;
  width: 30%;
  display: inline-block;
  margin: auto; }

#produceContainer {
  width: 30%;
  display: inline-block;
  border: 2px solid black; }

#craftContainer {
  width: 30%;
  display: inline-block;
  border: 2px solid black; }

#miscContainer {
  width: 30%;
  display: inline-block;
  border: 2px solid black; }

.large-6 {
  display: inline-block;
  margin: auto; }

.has-form {
  position: absolute;
  top: 0;
  left: 6rem;
  min-width: 14rem; }
  @media only screen and (max-width: 40em) {
    .has-form {
      min-width: 10rem;
      top: 0.5rem; }
      .has-form .button {
        height: 1.85rem; } }

#icon {
  width: 78px;
  position: relative;
  right: -127%;
  top: -15px; }

.paperList {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/images/paper.svg");
  width: 66%;
  margin-left: 13%;
  height: 633px; }

.itemList {
  position: relative;
  right: -23%;
  bottom: -28%; }

.shoppingList {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  /* margin-top: 46px; */
  font-size: 71px;
  position: relative;
  bottom: -8%;
  overflow: scroll; }
