@import url(http://weloveiconfonts.com/api/?family=brandico);
.LoginContainer {
  background-image: url("../images/green-crop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1000px; }

p {
  font-family: 'Lato', sans-serif;
  color: white; }

.text-center {
  font-family: 'Lato', sans-serif;
  color: white; }

.forgetPassword {
  font-family: 'Lato', sans-serif;
  color: white; }

#loginBox {
  position: relative;
  bottom: -2%; }

.logo {
  width: 430px;
  -webkit-flex-wrap: wrap; }

.blah {
  color: red; }

.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  left: -4%;
  bottom: -10%; }

.bottomButton {
  background-color: blue; }

#newUser {
  color: white;
  width: 161%; }

#signIn {
  width: 161%; }

#password {
  width: 161%; }

#email {
  width: 161%; }

#nav {
  background-color: #A1B38E;
  color: white; }

.navbar-default {
  background-color: #fff; }

.MainContainer {
  background-repeat: no-repeat;
  background-size: cover; }

body {
  background-image: url("/images/chalkboard-black.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.page-header {
  font-family: 'Cookie', cursive; }

.thumbnail {
  height: 300px; }

#navicon {
  width: 54px;
  margin-left: 44%; }

#exploreItem {
  background-image: url("images/produce.jpg");
  width: 30%;
  border: 2px solid gray;
  height: 300px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px; }

.col-sm-4 {
  background-image: url("images/produce.jpg"); }

#work {
  height: 400px; }

#bs-example-navbar-collapse-1 {
  color: white;
  float: right; }

.nav > .navbar-nav {
  color: white; }

#exploreFont {
  width: 53%;
  position: relative;
  top: -75px;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

.artText {
  font-family: 'Clicker Script', cursive;
  display: block;
  color: white; }

.artbox {
  display: inline-block;
  background-size: 137%;
  background-image: url("/images/divbox.png");
  background-repeat: no-repeat;
  width: 42%;
  height: 416px;
  position: relative;
  right: -3%;
  top: -198px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s; }

.artbox:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.producebox {
  display: inline-block;
  background-size: 124%;
  background-image: url("/images/producebox.png");
  background-position-x: -22px;
  background-repeat: no-repeat;
  width: 36%;
  height: 416px;
  position: relative;
  right: -3%;
  top: -198px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-left: 55px;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s; }

.producebox:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.handcraftbox {
  float: left;
  margin-top: 61px;
  display: inline-block;
  background-size: 125%;
  background-image: url("/images/handcraftedbox.png");
  background-position-x: -22px;
  background-repeat: no-repeat;
  width: 36%;
  height: 416px;
  position: relative;
  right: 2%;
  top: -198px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-left: 69px;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

.handcraftbox:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.miscbox {
  margin-top: 58px;
  display: inline-block;
  background-size: 98%;
  background-image: url("/images/miscbox.png");
  background-position-x: -20px;
  background-repeat: no-repeat;
  width: 33%;
  height: 416px;
  position: relative;
  right: -13%;
  top: -198px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-left: 55px;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s; }

.miscbox:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

#basket {
  width: 40%;
  float: right;
  margin-top: 7%;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

ul.nav li a, ul.nav li a:visited {
  color: white !important; }

ul.nav li a:hover, ul.nav li a:active {
  color: white !important; }

ul.nav li.active a {
  color: white !important; }

#icon {
  width: 78px;
  position: relative;
  right: -127%;
  top: -15px; }

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center; }

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
  margin-left: -80px; }

.topNavcontainer {
  height: 50px; }

#navIcon {
  width: 53px;
  margin-left: 241px;
  position: relative;
  right: -78%; }

#navbar-brand-centered {
  color: white; }

.paperList {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/images/paper.svg");
  width: 66%;
  margin-left: 13%;
  height: 633px; }

.itemList {
  position: relative;
  right: -23%;
  bottom: -28%; }

.shoppingList {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  /* margin-top: 46px; */
  font-size: 71px;
  position: relative;
  bottom: -8%;
  overflow: scroll; }

.shoppingContainer {
  background-image: url("/images/paper.jpg");
  width: 50%;
  height: 2000px;
  margin-left: 20%; }

.list-group {
  margin-top: 65px;
  color: white;
  border: 2px solid white;
  text-align: center; }

.itemContainer {
  width: 100%;
  text-align: center; }

.something {
  display: inline-block;
  width: 32%;
  overflow: scroll; }

#button {
  background-color: white;
  border-color: white; }

#glyphicon {
  color: black; }

.addinventory {
  width: 40%;
  border: 2px solid black;
  background-color: white; }

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

ul.social-buttons {
  text-align: center;
  float: left;
  position: relative;
  left: -49px; }

ul.social-buttons li {
  display: inline-block;
  margin: 0 10px; }

ul.social-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white; }

ul.social-buttons li a.brandico-twitter-bird {
  background-color: #4099FF; }

ul.social-buttons li a.brandico-facebook {
  background-color: #3B5998; }

ul.social-buttons li a.brandico-instagram {
  background-color: #3f729b; }

ul.social-buttons li a.brandico-vimeo {
  background-color: #4EBBFF; }

ul.social-buttons li a.brandico-linkedin {
  background-color: #0e76a8; }

/*Demo 1*/
ul#demo1 li a {
  transition: transform 0.2s linear; }

ul#demo1 li:hover a {
  transform: translateY(-10px); }

.media {
  /*box-shadow:0px 0px 4px -2px #000;*/
  margin: 20px 0;
  padding: 30px;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

.dp {
  border: 10px solid #fff;
  transition: all 0.2s ease-in-out; }

.thumb {
  margin-bottom: 30px; }

footer {
  margin: 50px 0; }

.page-header {
  text-align: center;
  margin: 20px 0;
  padding: 30px;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

#itemPicture {
  background-image: url("");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  border: 1px solid #bbb; }

.profileContainer {
  background-color: white;
  width: 100%;
  height: 2000px; }

#twitter {
  width: 89px; }

#facebook {
  width: 89px; }

#instagram {
  width: 89px; }

.media-body {
  color: white; }

#userHeader {
  font-family: 'Cookie', cursive; }

.page-header {
  font-family: 'Cookie', cursive;
  color: white; }

.pictureContainer {
  background-color: white; }

.emptyContainer {
  margin-bottom: 10%; }

#shopContainer {
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

#fileupload {
  color: black; }

.desc_ImageOverlay {
  text-decoration: none;
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 240px;
  background: none 50%;
  background-size: cover; }

.desc_ImageOverlay .desc {
  font: 16px/20px sans-serif;
  color: #fff;
  text-align: center;
  padding: 24px 16px;
  transform: translateY(30%);
  -webkit-transform: translateY(30%);
  transition: 0.5s;
  -webkit-transition: 0.5s; }

.desc_ImageOverlay .desc li {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  opacity: 0; }

/*hover*/
.desc_ImageOverlay:hover .desc {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  background: rgba(255, 255, 255, 0.5);
  height: 50%; }

.desc_ImageOverlay:hover .desc li {
  opacity: 1;
  color: #000; }

.desc_ImageOverlay:hover h2 h4 {
  visibility: hidden; }

.desc_ImageOverlay:hover .desc button {
  color: black; }

.empty {
  height: 114px; }
