<!-- Navigation -->
<nav id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="topnav" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
            </a>
        </div>
        <img id="navicon" src="/images/navbaricon.svg" alt="" />

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#profile" ng-click="myStyle={background:'red'}">profile</a>
                </li>
                <li>
                    <a href="#explore">explore</a>
                </li>
                <li>
                    <a href="#shoppinglist">shopping list</a>
                </li>
                <li>
                    <a href="#login">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>







    <div class="col-lg-5">
      <div class="emptyContainer">

      </div>
        <div class="media">
            <a class="pull-left" href="#profile">
                <img class="media-object dp img-circle" src="/images/farmer.jpg" style="width: 300px;height:300px;">
            </a>
            <div class="media-body">
                <h2 id = "userHeader">Farmer John</h2>
                <h4>John's Island Farmer's Market</h4>
                <h4>Produce Vendor</h4>
                <ul class="social-buttons" id="demo1">
                    <li>
                        <a href="#" class=""><img id = "twitter" src="/images/twittericon.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="#" class=""><img id = "facebook" src="/images/facebookicon.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="#" class=""><img id = "instagram" src="/images/instagramicon.png" alt="" /></a>
                    </li>
                </ul>
                <form class="picUpload" action="add-vendor-photo" method="post" enctype='multipart/form-data'>
                    <input type="file" name="file" />
                    <br/>
                    <br/>
                    <input type="submit" name="picSubmit" value="Submit Vendor Photo">
                    <input type="hidden" name="id" value="{{Vendor.id}}">

                </form>
                <br/>
                <br/>
                <button type="button" ng-click="showme=!showme" name="button">New Item</button>
                <div class="addinventory" ng-show="showme">
                    <form id="fileupload" action="/create-item" method="POST" enctype="multipart/form-data">
                        <select name="category">
                            <option value="Produce">Produce</option>
                            <option value="Art">Art</option>
                            <option value="Hand-Crafted">Hand-Crafted</option>
                            <option value="Misc">Miscellaneous</option>
                        </select>
                        <input type="text" name="name" placeholder="Item Name">
                        <input type="text" name="description" placeholder="Item Description">
                        <input type="number" name="quantity" placeholder="Item Quantity">
                        <input type="text" name="price" placeholder="Item Price">
                        <input type="submit" value="Add New Item">
                    </form>
                </div>
                <hr style="margin:8px auto">
            </div>
        </div>

    </div>

    <div class="col-lg-12">
        <h1 class="page-header">Vendor Inventory</h1>
    </div>

    <div id = "shopContainer"class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="ShopItem in ShopItems">

        <li class="list-group-item">{{ShopItem.name}}</li>
        <li class="list-group-item">{{ShopItem.price}}</li>
        <li class="list-group-item">{{ShopItem.description}}</li>
        <button ng-click="remove(ShopItem)" type="button" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-remove"></i></button>
        <button type="button" ng-click="picture=!picture"name="button">add a photo!</button>

        <!-- <input type="file" id="picVal" /> -->
        <br/>
        <br/>
        <!-- <div id="itemPicture"></div> -->
        <div ng-show ="picture" class="pictureContainer">

        <form class="picUpload" action="add-item-photo" method="post" enctype='multipart/form-data'>
            <input type="file" name="file" />
            <br/>
            <br/>
            <input type="submit" name="picSubmit" value="Submit Item Photo">
            <input type="hidden" name="id" value="{{ShopItem.id}}">
            <img src="/files/{{ShopItem.filename}}" alt="Don't be a slacker, vendor. Upload an image." height="300px" width="300px" />
        </form>
       </div>


    </div>
</div>
