<div class="New Item Container">

    <form method="post" action="/explore" enctype="multipart/form-data">
        <input type="text" ng-model="itemCat" placeholder="Item Category">
        <input type="text" ng-model="itemName" placeholder="Item Name">
        <input type="text" ng-model="itemDesc" placeholder="Item Description">
        <input type="text" ng-model="itemQuant" placeholder="Item Quantity">
        <input type="text" ng-model="itemPrice" placeholder="Item Price">
        <input type="file" name="photo">
        <input type="submit" value="Add New Item">
    </form>

</div>
